@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

#mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  max-width: 1280px;
}

.main-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: #F5F5F5;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
}

.left-aside {
  display: flex;
  max-width: 250px;
  background-color: #F5F5F5;
}

.right-aside {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
}

.containerNav {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: solid 1px #E9E9E9;
  display: flex;
  justify-content: center;
}

@media (max-width: 776px) {
  .right-aside, .left-aside, .login, .input-text {
    display: none;
  }
}
@media (max-width: 1000px) {
  .right-aside {
    display: none;
  }
}
.account-card {
  width: 100%;
  padding: 16px;
  background-color: white;
  font-family: sans-serif;
  box-shadow: 0px 0px 0px 1px rgba(23, 23, 23, 0.05);
  border-radius: 8px;
  margin-top: 15px;
}
.account-card h2, .account-card p {
  margin: 20px 0;
}

.buttonCreateAcc {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #3B49DF;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.buttonCreateAcc:hover {
  background-color: #3B49DF;
}
.buttonCreateAcc:hover a {
  color: white;
  text-decoration-line: underline;
}

.subrayado {
  text-decoration: none;
  color: #3B49DF;
}

.buttonLogIn {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.buttonLogIn:hover {
  cursor: pointer;
  background-color: #efefef;
}

.asideFooter {
  color: #818181;
  width: 100%;
  padding: 0px;
}

.logo-links {
  list-style: none;
}

.c-link-text {
  text-align: center;
}

.mainlink:hover {
  text-decoration: underline;
  border-radius: 5px;
  background-color: #8b93e6;
}

.secondary-card {
  border-radius: 10px;
  background-color: #ffffff;
  width: 96%;
  padding: 16px;
  margin-top: 10px;
}
.secondary-card .secondary-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.secondary-card .card-picture img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
}
.secondary-card .secondary-card-content h3 {
  margin-bottom: 1%;
}
.secondary-card .secondary-card-content p {
  margin-bottom: 3%;
}
.secondary-card .secondary-card-content p:nth-child(3)::after {
  content: ❤;
}

.discuss, .watercooler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #E9E9E9;
  border-radius: 8px;
  background-color: #FFFFFF;
  max-width: 100%;
  margin-top: 15px;
}
.discuss a, .watercooler a {
  display: flex;
  flex-direction: column;
  color: #242424;
}
.discuss a:hover, .watercooler a:hover {
  color: #3B49DF;
}
.discuss p, .watercooler p {
  color: #575757;
}

.discussHeader, .waterHeader {
  padding: 12px 16px;
  border-bottom: #E9E9E9 solid 1px;
}
.discussHeader p, .waterHeader p {
  font-size: 12px;
}
.discussHeader a, .waterHeader a {
  font-weight: bold;
  margin-bottom: 5px;
}

.discussItem {
  padding: 16px;
  border-bottom: #E9E9E9 solid 1px;
}
.discussItem p {
  margin-top: 5px;
  font-size: 13.5px;
}

.recently, .trending {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #CCCCCC;
  width: 100%;
  margin: 10px 0;
  padding-bottom: 10px;
}
.recently a, .trending a {
  color: #242424;
  padding: 16px;
}

.recentlyHeader {
  display: flex;
}
.recentlyHeader h4 {
  padding: 16px 0;
}

.recentlyItems, .trending {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}
.recentlyItems a, .trending a {
  width: 100%;
}
.recentlyItems a:hover, .trending a:hover {
  background-color: #FFFFFF;
  color: #3B49DF;
}

.head img {
  width: 100%;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
}

.navbar {
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 10px;
  align-items: center;
}

.input-text {
  width: 400px;
  height: 30px;
  margin: 0 15px;
  border-radius: 8px;
  border: solid 1px #575757;
  padding: 16px;
}

.botton-link {
  border: 1px solid #3B49DF;
  padding: 10px;
  border-radius: 8px;
}

.botton-link:hover {
  background-color: #3B49DF;
  color: white;
  cursor: pointer;
}

.login {
  color: black;
  margin-right: 20px;
}

.imagen {
  width: 50px;
  height: 30px;
}

.popular-tags {
  container: 1px;
  border: 1px solid gray;
  border-radius: 1px;
  padding: 1px;
  height: 200px;
  overflow-y: scroll;
}

.seccion7 {
  margin: 10px 0;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 16px;
  background-color: #FFFFFF;
  width: 100%;
  font-size: 16px;
}
.seccion7 h4, .seccion7 h3 {
  margin: 5px 0;
}
.seccion7 p {
  margin: 10px 0;
}/*# sourceMappingURL=main.css.map */