body{
    background-color: #f9f9f9 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.links {
    display: flex;
    flex-direction: column;

}
.flex-container-column {
    display: flex;
    flex-direction: column;
}
.container {
    border: 1px solid rgb(133, 132, 132);
    width: 100%;
}

