@import "mixins";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include principal-font;

}

a {

    text-decoration: none;

}

body{
    display: flex;
    justify-content: center;
    background-color: $bgMain;
}


.main {
    display:flex;
    justify-content: center;
    background-color: $bgMain;
    max-width: 1280px;
}

.main-flex-container {
    display: flex;
    justify-content: space-around;
    background-color: $bgMain;
}

.container {



}

.flex-container-column {

    display: flex;
    flex-direction: column;

}

.links {

    display: flex;
    flex-direction: column;

}

.left-aside{
    display: flex;
    max-width: 250px;
    background-color: $bgMain;
}

.right-aside{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgMain;
}

.center-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgMain;
}

@import "common.scss";
@import "cardAccount.scss";
@import "mainLinks";
@import "secondaryCard";
@import "hashtag";
@import "trendingAndRecently";
@import "tarjetaprincipal";
